<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Methaz</title>
    <link rel="stylesheet" href="/Sistema-TO-DO-LIST/methaz-todolist/src/main/webapp/public/css/telaLogin.css">
</head>
<body>

    <div class="main-login">
        <div class="area-logo">
            
            <img src="/Sistema-TO-DO-LIST/methaz-todolist/src/main/webapp/public/css/js/imagens/LogoMethaz.png">
        </div>
        
        <div class="area-inform">
            
            <div class="cabecalho">
                <p>Siga-nos no <a href="https://www.instagram.com" target="_blank"> <img src="/Sistema-TO-DO-LIST/methaz-todolist/src/main/webapp/public/css/js/imagens/instagram.png" ></a> </p>
                    <p> Não possui uma conta ? Crie uma ! <button class="btn_criarConta">Registrar-se </button> </p>
            </div>

             <div class="bemvindo">
                    <h1>Bem Vindo</h1>
                    <p>Logar</p>
                </div>

            <div class="card-login">
               
                    <div class="textfield">
                        <label for="gmail">Gmail</label>
                        <input type="text" name="gamil" placeholder="Gmail">
                    </div>
                    <div class="textfield">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" placeholder="Senha">
                    </div>
                    <div class="card-login-down">
                        <a href="a">Esqueci minha senha</a>
                        <button class="btn_entrar"> Entrar </button>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>